<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.8" />
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<remove value="Default.aspx" />
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
		<rewrite>
			<rules>
				<rule name="Redirect to clean URL" stopProcessing="true">
					<match url="^([^.]+)\.aspx$" />
					<action type="Redirect" url="{R:1}" />
				</rule>
				<rule name="Rewrite to aspx">
					<match url="^([^.]+)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:1}.aspx" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>