<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>

	<system.webServer>
		<rewrite>
			<rules>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="Rewrite to ASPX">
					<match url="^([^.]+)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:1}.aspx" />
				</rule>
			</rules>
		</rewrite>

		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>

</configuration>